* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: gray;
}
header {
    background-color: lightgray;
    padding: 5px;
    border-radius: 3px;
}
footer {
    background-color: lightgray;
    padding: 5px;
    border-radius: 3px;
}
#main_wrapper {
    display: grid;
    grid: auto auto / auto auto auto auto;
    grid-template-areas: 
    'top_nav top_nav top_nav top_nav'
    'article article article sidebar';
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}
#top_nav {
    grid-area: top_nav;
    background-color: darkgray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}
.nav_btn {
    color: white;
    text-decoration: none;
    padding: 5px;
}
.nav_btn:hover {
    background-color: gray;
}
#sidebar {
    grid-area: sidebar;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
}
article {
    grid-area: article;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}