* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: gray;
}
header {
    background-color: lightgray;
    padding: 5px;
    border-radius: 3px;
}
footer {
    background-color: lightgray;
    padding: 5px;
    border-radius: 3px;
}
#main_wrapper {
    display: grid;
    grid: auto auto auto auto / auto auto auto;
    grid-template-areas: 
    'header header header header'
    'top_nav top_nav top_nav top_nav'
    'container container container container'
    'footer footer footer footer';
    gap: 5px;
}
#header {grid-area: header;}
#top_nav {grid-area: top_nav;}
#container {grid-area: container;}
#footer {grid-area: footer;}

#top_nav {
    background-color: darkgray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}
.nav_btn {
    color: white;
    text-decoration: none;
    padding: 5px;
}
.nav_btn:hover {
    background-color: gray;
}

#container {
    display: grid;
    grid: auto / auto 25%;
    grid-template-areas: 
    'article sidebar';
    gap: 5px;
}
#sidebar {grid-area: sidebar;}
#article {grid-area: article;}

#sidebar {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
}
article {
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}