@font-face {
  font-family: "Raleway";
  src: url(../font/Raleway-Regular.ttf);
}

body {
  background-color: whitesmoke;
}

.header,
.footer {
  font-weight: 600;
  color: whitesmoke;
  background-color: rgb(100, 100, 100);
  height: 4rem;
}

.header-links {
  height: 100%;
  display: flex;
  justify-content: center;
  line-height: 4rem;
}

.header-links>p {
  height: 100%;
  padding: 0 2rem;
}

.container {
  min-height: calc(100vh - 9rem);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  line-height: 4rem;
  margin-top: 1rem;
}